.puzzle-backing {
    display: inline-block;
    margin-top: 5rem;
    margin-left: 28rem;
    outline: 1px solid black;
    padding: 0;
}

.puzzle-row {
    display: flex;
    flex-direction: row;
}

.puzzle-square {
    text-align: center;
    border: 1px solid black;
    width: 2.25rem;
    height: 2.25rem;
    padding: .3rem .2rem 0 0;
    font-weight: 700;
    font-size: larger;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
}

.black-square {
    background-color: black;
}

.square-number {
    font-weight: 500;
    font-size: .5rem;
    position: absolute;
    margin-top: -.37rem;
    margin-left: -.9rem;
}

.highlighted {
    background-color: aliceblue;
}

.selected {
    box-shadow: inset 0 0 0 .05rem black;

}
